# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

*.lst
*/target/*
target/*
*target*
.vscode
pet_clinc-data/target/*
pet_clinc-data/target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
pet_clinc-web/target/pet_clinc-web-1.0-SNAPSHOT.jar.original
pet_clinc-web/target/surefire-reports/agsu.springframework.pet_clinc.PetClincApplicationTests.txt
pet_clinc-web/target/surefire-reports/TEST-agsu.springframework.pet_clinc.PetClincApplicationTests.xml
pet_clinc-web/target/pet_clinc-web-1.0-SNAPSHOT.jar.original
